html {
    font-size: 16px;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Archivo Black', sans-serif;
}

.wrap {
    background-color: white;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.black-bg {
    background-color: black;
    width: 100%;
    height: 1000px;
    left: 0;
    position: absolute;
    z-index: 1;
}




/* header */
header {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 10;
}

header .gnb {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo gnb-menu menu"
    "search search search";
}

header .gnb .logo {
    grid-area: logo;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
}

header .gnb .gnb-menu {
    /* grid-area: grid-menu; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: white;
}

header .gnb .gnb-menu ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 0 auto;
}

header .gnb .gnb-menu ul li {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}

/* header .gnb .gnb-menu ul .active {
    content: "";
    height: 2px;
   
} */

header .gnb .gnb-menu ul .active::before {
    content: "";
    height: 2px;
    width: 15px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul li:hover {
    color: gray;
}

header .gnb .gnb-menu ul li:hover::before{
    content: "";
    height: 2px;
    width: 5px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

header .gnb .gnb-menu ul .active:hover {
    color: white;
}

header .gnb .gnb-menu ul .active:hover::before {
    width: 15px;
   
}


header .gnb .menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
    margin-top: 50px;
    /* margin-left: 40px; */
}

/* header .gnb .menu * {
    margin-left: 10px;
} */

header .gnb .menu .menu-hover {
    padding: 10px 10px;
    border-radius: 30px;
}

header .gnb .menu .menu-hover:hover {
    background-color: rgba(172, 172, 172, 0.3);
}

header .gnb .menu .profile {
    background-color: white;
    color: gray;
    padding: 10px;
    border-radius: 30px;
    font-weight: 30px;
}

header .gnb .search {
    grid-area: search;
    width: 70%;
    margin: 0 auto;
}

header .gnb .search .searchUl {
    background-color: white;
    color: black;
    display: flex;
    border-radius: 50px;
}

header .gnb .search .searchUl li {
    width: 25%;
    text-align: left;
    padding: 20px 50px 20px 20px;
    font-weight: bold;
    border-radius: 50px;
    position: relative;
}

header .gnb .search .searchUl li::after {
    position: absolute;
    background-color: lightgray;
    content: "";
    width: 1px;
    /* height: 15px; */
    height: calc(100% - calc(20px * 2));
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

header .gnb .search .searchUl li:last-of-type::after {
    display: none;
}

header .gnb .search .searchUl li:hover {
    background-color: lightgray;
}

header .gnb .search .searchUl li span {
    color: gray;
    font-size: 12px;
    font-weight: normal;
}


/* notice */
.notice {
    background-color: #ff385c;
    border-radius: 14px;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
    
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    z-index: 10;
}

.notice p {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.8rem;

    margin-bottom: 2rem;
}



.notice button {
    border: 1px solid white;
    padding: 5px 15px;
    color: white;
    background-color: inherit;
    font-weight: bold;
    border-radius: 14px;
}

/* main banner */

.mainBanner {
    height: 600px;
    border-radius: 14px;
    /* margin-top: 40px; */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 50px;

    background-image: url("https://www.campingzwinderen.nl/wp-content/uploads/camping-zwinderen-drenthe-kamperen-homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    z-index: 10;


    /* border: 1px solid black;

    background-color: black; */
}

.mainBanner .content {
    color: white;
    text-align: center;
    /* margin-bottom: 20px; */
    /* margin-left: 350px; */
}

.mainBanner .content p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 320px;
    margin-right: 100px;
    /* background-color: rgb(201, 201, 201 );
    background-color: ( 255, 255, 255, 0.3 ); */
}

.mainBanner .content button {
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: white;
    border-radius: 24px;

}

.mainBanner .content button span {
    background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%) ;
    /* css webkit */
    -webkit-background-clip: -webkit-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



