.wrap {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formSection {
    background-color: white;
    border: 1px solid #c6c6c6;
    max-width: 370px;
    padding: 20px;
}