body {
    background-color: #c6c6c6;
    margin: 0px;
}

.wrap {
    background-color: white;
    width: 375px;
    height: 100vh;
    /* margin 0 auto를 통해서 동일한 여백을 줄 수 있다. */
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.instargram {
    width: 100%;
    height: 550px;
    border: 1px solid black;

    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:50px 275px 1fr ;
    grid-template-areas: 
    /* 공간넣어주기 */
    "header"
    "img"
    "footer";

    /* 진짜 인스타그램처럼 보이도록 */
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/* instargram 공간에 모두 부여 => 100% */

/* Header */
.header {
    grid-area: header;
    /* margin 값을 주면, 살짝 삐져나오게 된다. */
    /* 이를 해결하기 위해 100% 를 */
    /* auto 으로 값 설정해주면 된다. */
    width: auto;
    height: auto;
    /* 위 아래 공간 주기*/
    margin: 5px 10px;
}

.header-left {
    float: left;
    /* p태그의 블럭속성으로 인해 이미지 아래 위치하고 있다. */
    /* 이미지 옆으로 p태그가 가기위해 flex 한다. */
    display: flex;
    /* 중앙정렬 */
    align-items: center;

    font-weight: bold;
}

.header-img {
    border: 3px solid lightpink;
    border-radius: 50%;
    /* 이미지와 p 태그 사이 공간을 주기 위해 margin 값 설정 */
    margin-right: 10px;
}

.header-right {
    float: right;
    /* 세로로 정렬하기 위해 100% 값 설정 */
    height: 100%;
    display: flex;
    align-items: center;
}

/* p태그로 작성했기에 드래그가 되는데 이를 버튼 형식처럼 보여주기 위해 */
/* 마우스 포인터가 올려졌을 때 버튼 누르는 모양이 되도록 만들어준다. */
.right-menu {
    cursor: pointer;
    /* 클릭만 하고 드래그 안된다! */
    user-select: none;
}


.img{
    clear: both;
    grid-area: img;
    /* 100% 값은 instargram에서 상속받음 */
    width: 100%;
    height: 100%;
}

.footer{
    grid-area: footer;
    width: 100%;
    height: 100%;
    margin-top: 100px;

    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:50px auto auto;
    grid-template-areas: 
    "top-left top-center top-right"
    "like like like"
    "comment comment comment";
}

.top-left {
    grid-area: top-left;
    display: flex;
    font-size: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.top-center {
    grid-area: top-center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.top-right {
    grid-area: top-right;
    display: flex;
    font-size: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.like {
    grid-area: like;
    font-size: 12px;
    margin: 0 12px;
    height: 20px;
    
}

.comment {
    grid-area: comment;
    font-size: 10px;
    margin: 0 12px;
}



ul {
    padding: 0;
    display: flex; 
    justify-content: space-between; 
    list-style: none;
    width: 50%;
}

/* ul 태그에 list-style: none; 을 하면 점이 안보이기 때문에  */
/* 다음과 같이 설정한다. */
li {
 width: 7px;
 height: 7px;
 /* border: 1px solid black;  */
 background-color: lightgray;
 border-radius: 50%;
}